.basicBttn{
    padding: 5px;
    background-color: #9B24B3;
    color: white;
    border: none;
    width:100%;
    height:5vh;
    border-radius: 15px;
    align-self: center;
    cursor: pointer;
}

.basicBttn:hover{
    background-color: #B1FF4D;
}