.containerInfo {
    padding-left: 10px;
}

.Pedido {
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 25px;    
}

.tituloPagina{
    margin: 5px;
}

.resumo {
    margin-left: 25px;
    margin-bottom: 5px;
    display: grid;
    grid-auto-flow: column;
    width: 75vw;
}
.containerDetalhes{
    display: inline-flex;
    padding-top: 15px;
}

.barraEsquerda {
    margin-left: 15px;
    margin-right: 1vw;
    padding: 0;
    width: 20vw;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: whitesmoke;
    display: grid;
    overflow-y: scroll;
}

.barraDireita{
    margin-right: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 80vh;
    width: 75vw;    
    background-color: whitesmoke;
}

.sideClienteInfo :first-child{
    padding-top: 1vh;
}

.sideClienteInfo > div > h4 {
    text-align: center;
    margin-bottom: 15px;
}

.sideClienteInfo > div >  p {
    margin: 5px;
    margin-bottom: 15px;
    padding-left: 1vw;
    font-size: 13px;
}

hr{
    margin-top: 0px;
    margin-bottom: -5px;
    margin-left: 5px;
    margin-right: 5px;
}

.listaItens {
    text-align: left;
    margin: 5px;
    margin-top: 10px;
}

.tituloCards{
    margin-top: 5px;
    text-align: left;
    text-indent: 35px;
    text-underline-offset: 2px;
}

.cardItemHolder{
    height: 73vh;
    overflow-y: scroll;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardInfo {
    padding: 2px 16px;
    margin: 10px;
}

.cancelOrderBttn{
    margin-left: 2vw;
    border: none;
    border-radius: 10px;
    background-color: #9B24B3;
    cursor: pointer;
    color: white;

}

.cardTitulo {
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.cardDetalhes {
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
}

.cardDetalhes > span{
    margin-top: auto;
    margin-bottom: auto;
}
.cardDetalhes > img{
    width: 4vw;
    object-fit: contain;
}